
.project-container {
  margin: auto;
  width: 90vw;
  max-width: var(--fixed-width);
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.underline {
  height: 0.25rem;
  width: 10rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.review {
    background: var(--clr-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;

  }
  .img-container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .project-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
    position: relative;
  }
  .project-name {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--clr-primary-5);
    font-size: 0.85rem;
  }
  .info {
    margin-bottom: 0.75rem;
  }
  .btn-left{
      float: left;
  }
  .btn-right{
      float: right;
  }
  .btn-right, .btn-left{

    margin-top: 0.5rem;
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    transition: var(--transition);
    border-color: transparent;
    cursor: pointer;
    margin-top: -10rem;
  }
  .random-btn {
    margin-top: 0.5rem;
    background: var(--clr-primary-10);
    color: var(--clr-primary-5);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    transition: var(--transition);
    border-color: transparent;
    cursor: pointer;
  }
  @media screen and (max-width:400px) {
    .img-container {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }
  }